[2020-09-18 19:40] rhshksh opened #2 "Add a detailed scan report page"
Currently the report page only shows whether the app is Goodware, Malware, Risky or Unknown. It would be nice if the apps are sorted separately based on the classification(So that the users can see all the malicious apps together).

[2020-09-23 09:26] licaon-kter opened #4 "False positives?"
Malware?
https://github.com/microg/FakeStore
https://github.com/openbmap/radiocells-nlp-android

Unknown?
https://github.com/termux/termux-styling

[2020-09-23 09:33] licaon-kter commented on #2
Yup, Malware first, then Risky, then Unknown, then all the rest.

[2020-09-23 09:34] licaon-kter opened #5 "Explain the logic"
...of the thing that classifies the apps, what input does it get? APKs? Permissions? etc

[2020-09-23 09:41] licaon-kter opened #6 "Touching the notification should open the app"

[2020-09-23 10:19] sanandmv7 commented on #4
They are probably false positives. We should investigate this further.

[2020-09-23 10:30] sanandmv7 commented on #6
It would be better to add a new report screen for the scanned app that contains details such as package name, app size, used permissions etc. and open that screen when touching the notification (in case of real time scan).

[2020-09-23 10:57] sanandmv7 commented on #5
The app extracts permissions and intents of installed applications from the user's device. These extracted features are then fed to the machine learning model in the form of a vector. The machine learning model then returns a prediction score between 0 and 1. We use this score to classify the scanned app into one of the following categories:
1. Goodware: The prediction score is less than 0.5
2. Ri

[2020-09-23 11:18] licaon-kter commented on #5
Do add this info on the site or Readme :)

[2020-09-23 14:34] rhshksh opened #7 "Application icons are not always showing on report page"
After scanning the report page is not always showing icons, especially while scrolling fast

[2020-09-23 15:52] #5 closed

[2020-09-25 14:06] mecqor opened #8 "Translation"
Is there a plan to translate this program into other languages?

[2020-09-25 15:03] projectmatris commented on #8
We don't have any plans for translation right now. But if you are interested in contributing to this project by translating it to other languages, you are more than welcome. See our contribution guidelines [here](https://github.com/projectmatris/antimalwareapp/blob/master/CONTRIBUTING.md).

[2020-09-25 15:26] #8 closed

[2020-09-26 11:26] zethra commented on #4
This flagged com.google.android.gms.setup as malware. I think this is a false positive.

[2020-09-26 12:18] zpcol commented on #4
And many default system apps Lineageos are detected by malmware, extraordinary.

[2020-09-26 12:40] projectmatris commented on #4
The 'Scan System Apps' feature is very buggy. That is why we don't recommend using it. Since many system apps require sensitive permissions and intent-filters similar to those used by malicious apps, it is difficult for the machine learning model to distinguish between malware and goodware just by using these features only. We may try to improve this situation in the future by training the machine

[2020-09-26 14:26] AlanSanchezP opened #9 "[Suggestion] Per-app details screen"
Hi, I just found this app on F-droid and found the idea pretty cool so I installed it and ran a scan.

My little "issue" is that it marked vanilla metadata fetch as malware and as a user I would want to tap the app's item on the report to see an explanation about why it was marked as such (and try to determine if it was a false positive as in #4).

I'm not sure if this is even possible because I d

[2020-09-26 15:23] projectmatris commented on #9
Thanks for your positive feedback. Your issue is reasonable and we already have plans for implementing such a per-app details screen. Such a screen has already been suggested in #6. So you can expect it in the upcoming releases.

[2020-09-26 18:38] zethra commented on #4
FYI com.google.android.gms.setup isn't a system app.

[2020-09-26 18:46] elemonader commented on #4
Also found to be malware:

[https://github.com/stephane-r/HoloPlay](https://github.com/stephane-r/HoloPlay) (F-Droid)

[https://github.com/beatbrot/ScreenshotAssistant](https://github.com/beatbrot/ScreenshotAssistant) (F-Droid)

[2020-09-26 19:30] LibreHacker opened #10 "Real Time Scan"
Disable Real Time Scan by Default.

I think it's good practice.

[2020-09-26 20:44] LibreHacker commented on #10
Hm... i think it's give hard work on battery, but maybe don't it.

[2020-09-27 12:31] zpcol commented on #4
I am a Android root user, it's not difficult to give root permission, just add root mode for this application.

[2020-09-27 12:52] licaon-kter commented on #4
@zpcol what for?

[2020-09-27 15:18] sanandmv7 commented on #10
I don't think disabling Real Time Scan is a good practice as this is a security-oriented product. LibreAV is expected to provide maximum security to its users. So it should be pre-configured in such a manner.

[2020-09-27 15:21] sanandmv7 commented on #4
@zpcol please open a new issue for this

[2020-09-27 15:32] sanandmv7 commented on #4
Is this the Data Transfer Tool?

[2020-09-27 16:26] projectmatris commented on #10
We have tested the 'Real-Time Scan' feature of LibreAV using different profiler tools (including the built-in energy profiler of Android Studio and Battery Historian). None of them showed any noticeable increase in power consumption while 'Real-Time Scan' is On.

[2020-09-27 16:29] #10 closed

[2020-09-27 17:05] theadven2rer opened #11 "False detecting"
The antivirus detects a lot of goodware or neutral apps as a malware.

[2020-09-27 17:48] projectmatris commented on #11
Please report the false positives in #4

[2020-09-27 17:49] #11 closed

[2020-09-27 19:30] zethra commented on #4
On September 27, 2020 11:32:30 AM EDT, sanandmv7 <notifications@github.com> wrote:

I think so. I'm honestly not sure why it was on my phone.

[2020-09-27 19:57] starboi02 commented on #6
Can I work on this issue?

[2020-09-28 06:43] projectmatris commented on #6
Sure

[2020-09-28 08:36] fusionneur commented on #4
Also vanced microg is marked as malware

[2020-09-28 08:43] LibreHacker opened #12 "ClamAV"
You planned integrate it's into your app?

[2020-09-28 10:27] projectmatris commented on #12
We don't have plans to integrate ClamAV at the moment. We are now focusing on improving the machine learning model so that false positives can be reduced. However, we may look into the possibility of integrating ClamAV in the future. We like to continue this discussion with the open-source community and study the practicality of integrating ClamAV. So we are not closing this issue. Instead, we are

[2020-09-28 10:49] starboi02 commented on #9
Currently working on #6 which will therefore be used to solve this issue . Can i work on this too after completing the latter issue?

[2020-09-28 14:02] starboi02 commented on #6
@projectmatris how can I contact you? I wanted to discuss about the layout of the report screen.

[2020-09-28 17:51] Disqu3-mirOir-qt opened #13 "background / ui / pull request"
bug:

when installed new apps real time scan not work background

need open apps for see notification about new apps installed

ui :

improve , homepage because bouton scan circle ugly , maybe add material design

i think not bad for improve detection to add report tools respectful privacy : org.acra

Ps: i pull request values-fr / strings.xml

https://github.com/Disqu3-mirOir-qt/antimalwareapp/co

[2020-09-28 18:18] projectmatris commented on #6
We created a matrix channel for this purpose. Join [here](https://matrix.to/#/#LibreAV:matrix.org).

[2020-09-28 18:42] projectmatris commented on #13
Regarding the bug: Can you provide more details like Android version, device model, RAM etc..? Also, please add steps to reproduce the bug.

Please open a new issue for the ui suggestion. Let's keep this issue for the bug.

Please open a new pull request to the upstream repository once your work is complete. We will review and merge it if possible.
Don't forget to review the contribution guideline

[2020-09-29 05:41] Disqu3-mirOir-qt commented on #13
thanks after check my side not bug , i just need disabled some things about battery settings

i closed and open for others issue

[2020-09-29 10:05] starboi02 opened #14 "After scan result if one click on uninstall and then cancel it, that particular app is removed from the list despite not being uninstalled."

[2020-09-29 10:06] starboi02 commented on #14
Would like to work on this too.

[2020-09-29 11:16] projectmatris commented on #14
This was an intended behaviour at the time of development so that the user can remove a particular app from the list. But now it seems this is not a good way to achieve that because this may mislead the user to think that the app is uninstalled from their device, in case the user has pressed the cancel button by mistake. Also, they need to scan again if they want the removed app back on the list.

[2020-09-29 11:39] starboi02 commented on #14
Fine, sliding to uninstall the application looks good but why there's a need to refresh the list to show it again after clicking . Just why dont remove it from the list if and only if user has clicked "yes" on the confirmation alert box so when the user clicks on cancel it wont be deleted from the list.

[2020-09-29 11:39] starboi02 commented on #14
I am willing to work on this one too if you agree with my point on this.

[2020-09-29 12:05] projectmatris commented on #14
What if the user just wanted to remove it from the list without uninstalling the app from their device?

[2020-09-29 12:11] starboi02 commented on #14
What i feel is why would the user delete the app from the list. How would it be helpful to him/her if deletion doesn't results in uninstall. What the user would gain out of it?

[2020-09-29 13:26] projectmatris commented on #14
We can't come up with a use case scenario here. We just thought that we should retain this flexibility so that it may benefit someone in some way. Maybe we can add this in the future if it becomes necessary. For now, we should focus on rectifying the actual issue since it may create a false sense of uninstallation in users.

[2020-09-29 13:38] starboi02 commented on #14
Ok sure

[2020-09-29 14:09] BasilTomato commented on #12
FYI in the meantime there is a ClamAV Android app with real time scanning functionality: https://github.com/Divested-Mobile/hypatia

[2020-09-29 15:02] projectmatris commented on #12
Thanks for sharing this. But it's not available in the market, right?

[2020-09-29 15:13] BasilTomato commented on #12
It is available only in the F-Droid compatible repository of DivestOS: https://divestos.org/index.php?page=extras#Repos

[2020-09-29 18:19] projectmatris commented on #12
Okay. We will check it out.

[2020-09-30 13:11] mcmonojit commented on #6
Hello @projectmatris , can I work on this issue ?

[2020-09-30 13:15] starboi02 commented on #6
@mcmonojit  you can see it's already assigned to me and would push the PR tonight.

[2020-09-30 23:10] comicallycluttered commented on #4
Shelter is also being identified as malware.

https://github.com/PeterCxy/Shelter

It's also in the F-Droid repos.

Can also confirm Vanced MicroG labeled as malware. Might be because the scanner has trouble with system apps, but MicroG isn't installed as one and it's mistaking it for a system app and flagging it due to that. May be wrong, though.

[2020-10-01 10:23] elf01 opened #18 "Qualcomm malvare"
For many standard programs in android scolds, something is not very hard to believe

[2020-10-01 11:37] sanandmv7 commented on #18
Please report false positives in #4 with the package name.

[2020-10-01 11:37] #18 closed

[2020-10-01 17:13] projectmatris commented on #4
Please be aware that the machine learning model that we use to detect malware is in its early stages. We are consistently trying to improve the model. So please keep adding the false positives here. We will consider them next time we train the model.

[2020-10-01 17:24] vyj7 commented on #2
Hey @rhshksh  @licaon-kter  I would like to work on it if this is not resolved

[2020-10-01 17:39] rhshksh commented on #2
Sure, you can work on this

[2020-10-01 18:09] sanandmv7 opened #19 "Quarantine/disable detected malware"
It would be nice if we can automatically disable malicious apps as soon as they are detected by the scanner. How can we achieve this in Android without root privileges?

[2020-10-02 03:48] N3koSempai opened #20 "mi fit from play store"
the apk mi fit from xiaomi installed from play store is classified of malware and other apk of development y python example pydroid repositories plugin.

[2020-10-02 08:51] projectmatris commented on #20
Please post these with package names in #4 if you think they are false positives

[2020-10-02 08:51] #20 closed

[2020-10-02 17:41] vyj7 commented on #2
@rhshksh
Let's say there are 20 Apps (10 user Apps and 10 System apps).
So the requirement is to do something like this?
Basically dividing User Apps and System Apps and then sort.

`User Apps`

1. Malware Apps....
2.  Risky Apss....
3.  Unknown...
4. Goodware...

`System Apps`

1. Malware Apps....
2. Risky Apss....
3. Unknown...
4. Goodware

[2020-10-02 18:03] licaon-kter commented on #2
UX design needed :)

[2020-10-02 18:04] rhshksh commented on #2
Hi @vyj7

It would be better if we can add label on system apps rather than sorting them(even though scanning system apps is not recommended and it is disabled by default)

[2020-10-03 08:37] #6 closed

[2020-10-03 11:48] starboi02 commented on #9
@sanandmv7 can you please give some insight on how prediction is calculated in AppInfo and can I get prediction score from AppInfo or have to do the same stuff that is happening in AppScanner. All i need is prediction score in AppsAdapter to pass it to AppScanResult activity. PackageName and icon i can easily get from AppInfo but ns about prediction score.

[2020-10-03 12:50] sanandmv7 commented on #9
`prediction` is calculated in ScannerTask using the `inferredValue`(output of the model). It is then stored in AppInfo's `prediction` variable for future use. You can't get prediction score from AppInfo since we didn't store it. If you need to pass prediction score to AppScanResult, you first need to create a new variable `predictionScore` inside AppInfo and store the `inferredValue` in it(like we

[2020-10-03 14:11] starboi02 commented on #9
@sanandmv7 done . Please review the PR :)

[2020-10-05 19:30] vyj7 commented on #2
@rhshksh  ok. I will add a textView in viewHolder. It will be present only for system Apps.

[2020-10-05 19:37] vyj7 commented on #2
@rhshksh  Does this look okay?
<img width="353" alt="Screenshot 2020-10-06 at 1 06 17 AM" src="https://user-images.githubusercontent.com/16906317/95123856-37460780-0770-11eb-9c53-979bd996f30a.png">

[2020-10-06 23:40] njmdietrich commented on #4
I found another false positive: German for AnySoftKeyboard - https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.german

[2020-10-07 17:55] vyj7 opened #24 "Hide Uninstall button for System Application"
Currently, for system apps, there is an un-install icon . We should remove it in case of a system app since we cannot uninstall it if the phone is not rooted.

[2020-10-07 18:07] vyj7 commented on #7
@rhshksh  I couldn't reproduce the issue. There are some applications where icon files were not found.

[2020-10-07 18:11] vyj7 opened #25 "Providing more insights on why application is marked as malware or risky."
Scanner only classifies the issue but not providing details on why it has been marked as malware.
If we can provide a CVE number associated or some additional information like Application score after passing it from the algorithm.
Right now it is marking OLA App as malware and there is no way one can understand why it is so.

[2020-10-07 18:59] sanandmv7 commented on #25
This issue is addressed in #21 by @starboi02

[2020-10-07 19:37] #9 closed

[2020-10-07 19:50] starboi02 commented on #14
@sanandmv7 @projectmatris can you sum up the work that needs to be done for this issue.

[2020-10-07 19:56] projectmatris commented on #24
Some of our users might use rooted phones. This will be useful to them.

[2020-10-07 19:58] projectmatris commented on #14
Remove the app from the list only if it is uninstalled successfully

[2020-10-07 19:59] projectmatris commented on #2
This issue is fixed by #23

[2020-10-07 19:59] #2 closed

[2020-10-08 15:51] rhshksh opened #27 "When installing multiple apps, it only shows prediction of last app on notifications"
While installing or updating multiple apps, it only shows the prediction of last updated or installed app in notifications(real time scanning)

[2020-10-08 18:24] sanandmv7 commented on #27
There is no need to display separate notifications for safe apps. But the newly installed/updated app is detected as malware/risky/unknown we should display a separate notification for each one.

[2020-10-08 19:19] starboi02 commented on #27
@sanandmv7 can i work on this?

[2020-10-09 08:31] projectmatris commented on #24
Can we close this issue?

[2020-10-10 09:57] #14 closed

[2020-10-11 22:04] starboi02 commented on #27
@sanandmv7 please review.

[2020-10-12 10:08] projectmatris commented on #13
@Disqu3-mirOir-qt can you proofread our French translation in [Crowdin](https://crowdin.com/proofread/libreav/all/en-fr?filter=basic&value=5)?

[2020-10-21 04:36] AlanSanchezP commented on #4
Vanilla Metadata Fetch detected as malware.
Vanilla Metadata Fetch - https://f-droid.org/repo/com.kanedias.vanilla.metadata
Prediction score 0.839975
LibreAV 1.1.0

[2020-10-21 08:44] java-py-c-cpp-js commented on #4
Also detected:
Cards and Castles (Play Store)
OpenBMap (F-Droid)
net.shallowmallow.pico (Play Store)
org.pocketworkstation.dict.de (Play Store)

[2020-10-22 12:21] #27 closed

[2020-10-22 12:24] #25 closed

[2020-10-22 12:25] #24 closed

[2020-10-22 16:12] uli-on commented on #4
Secure Photo Viewer (F-Droid) https://f-droid.org/de/packages/com.gtp.showapicturetoyourfriend/
Malware, scored 0,883341 for having read/write external storage plus wake lock.

Screenshot Assistant (Play Store, de.beatbrot.screenshotassistant)
Malware, scored 0.938887, for "No permissions required"

But in case the analysis is valid, maybe some plausible arguments should encompany the app details

[2020-10-22 18:43] projectmatris commented on #4
@uli-on The machine learning model uses permissions and ***intent-filters*** to detect malware. So even if the scanned app does not require any permissions, it may be using some intent-filters that the model considers as indicative of malware.

[2020-10-22 21:58] uli-on commented on #4
Yes, I see, but that's the only information that the app currently supplies. Hence I said the app details page should be encompanied with plausible arguments.

[2020-11-07 05:07] jhorner555 opened #32 "My Sincerest Apologies"
I have very little experience regarding Github's interface, but I wanted to reach out and say thank you for creating LibreAV. I really enjoy and appreciate this application and appreciate even more all of the work you and your team have put into this project. I'm not sure if detecting malware is the only thing it does, but if so, I would like to suggest possibly adding virus, Trojan, and other det

[2020-11-07 14:29] projectmatris commented on #32
Thanks for your feedback. Glad you like it. Coming to your suggestions, can you please elaborate a little bit on what you mean by "virus, Trojan, and other detection capabilities." Malware is a broad term that covers all of these, So, LibreAV should also already be able to detect viruses, trojans, etc. (Technically speaking, you are very unlikely to get viruses on Android. Because it is difficult

[2020-11-07 14:57] projectmatris opened #33 "Translation"
We have a [Crowdin project](https://crowdin.com/project/libreav) to translate LibreAV to different languages. So far, translation for the following languages are completed:
* Chinese Simplified
* French
* German
* Russian
* Spanish

It will be very helpful if someone could proofread the translation. If you are interested, use the following invitation to join our Crowdin project as a proofreader: h

[2020-11-07 19:29] jhorner555 commented on #32
My apologies again. I have little knowledge of malware and I didn't realize that it covered the others as well. My mistake entirely. But again, love the app and I look forward to further updates in the future, regardless of what they be.

[2020-11-10 03:42] Vasttadpolhairs commented on #4
All In-App Extensions for Tachiyomi https://github.com/inorichi/tachiyomi are all showing up as Malware or Unknown. The extensions have no permissions required and as far as i know they are only used as a source to pull the manga/comic jpg files from their respective website & each of the prediction scores are always 0.975356

https://raw.githubusercontent.com/inorichi/tachiyomi-extensions/repo/ap

[2020-11-13 18:40] #32 closed

[2020-11-13 18:40] #13 closed

[2020-11-19 00:00] kastiel0425 opened #34 "Bug"
marks a lot of system files and programs as a malware, BUT, at all, looks nice and userfriendly

[2020-11-19 05:10] projectmatris commented on #34
The 'Scan System Apps' feature is very buggy. That is why we don't recommend using it. Since many system apps require sensitive permissions and intent-filters similar to those used by malicious apps, it is difficult for the machine learning model to distinguish between malware and goodware just by using these features only. We may try to improve this situation in the future by training the machine

[2020-11-28 22:30] Vasttadpolhairs commented on #4
Downloaded the latest update and Tachiyomi extensions i listed in the post above are still showing up as malware can someone look into this?

[2020-11-29 05:49] projectmatris commented on #4
We are still working on false positives. The model included with the app is the best one we could come up with so far. We will let you know once we develop an improved model.

[2020-11-29 06:13] PurpleCodingWizard commented on #4
This dictionary app was flagged as malware even though it requests zero permissions.

Check out "English completion dictionary" - https://play.google.com/store/apps/details?id=org.pocketworkstation.dict.en

[2020-11-29 11:48] projectmatris commented on #4
@PurpleCodingWizard Thanks for pointing this out. The app you mentioned uses one intent-filter only (*org.pocketworkstation.DICT*) which is not defined in the *features.json* file (*features.json* file contains a list of permissions and intent-filters considered while training the model. We use this file to create the feature vector.). The above-mentioned app does not use any permissions or intent

[2020-12-09 15:57] damajor commented on #4
A quick list that may be false positive:
- Mobile Config (fr.freemobile.android.mobileconf)
- OpenWeatherMap (org.lineageos.openweathermapprovider)
- Titanium Backup Add-on (com.keramidas.TitaniumBackupAddon)

[2020-12-09 23:38] esqanor commented on #4
hi!
false detecting a lot of system apps (xiaomi rooted)
he also finds a mod apps, but are they really all so insecure?
https://imgur.com/a/2hLJC40

[2020-12-10 06:17] licaon-kter commented on #4
@esqanor system apps have a lot of permissions, as you are warned there will be false positives there

[2020-12-12 11:42] PureNetProyect opened #36 "Finished the tranlation of the strings.xml file"
Hi, my native language is spanish so i finsished the translation of the strings file, please review it for any error. thanks

[2020-12-12 13:39] projectmatris commented on #36
Hi, we will check it out. Thanks.

[2020-12-16 18:05] #36 closed

[2020-12-18 11:14] ankris812 opened #37 "Why not use virustotal in the app?"
if you combine the machine learning and the virustotal result it can be more exact, no?

[2020-12-18 16:49] projectmatris commented on #37
It can be. But we like to keep the operation of LibreAV on the device itself.

[2020-12-21 01:49] Cybo1927 opened #38 "False Positives"
This app falsely labels "Shelter" as malware. Shelter is a FOSS app that allows you to 'Isolate Big Brother apps' or use multiple accounts by utilizing Android's work profile.

`https://github.com/PeterCxy/Shelter`

`https://f-droid.org/en/packages/net.typeblog.shelter/`

[2020-12-21 13:43] projectmatris commented on #38
This was already reported here: https://github.com/projectmatris/antimalwareapp/issues/4#issuecomment-701693655. Please report false positives in #4 only. We will consider them next time we train the model.

[2020-12-21 13:43] #38 closed

[2020-12-21 13:46] #34 closed

[2020-12-21 13:48] #12 closed

[2020-12-21 13:49] #19 closed

[2020-12-26 13:26] reyis4402 opened #39 "Scan file"
Will the scan come to detect malicious files?

[2020-12-26 16:06] projectmatris commented on #39
LibreAV can scan only installed apps at the moment.

[2021-01-08 14:26] nunesgh commented on #4
[Firefox Focus](https://play.google.com/store/apps/details?id=org.mozilla.focus) was flagged as malware with a .804063 prediction score. The same did not happen with [Firefox Browser](https://play.google.com/store/apps/details?id=org.mozilla.firefox).

[2021-01-14 16:26] rhshksh commented on #7
This issue seems to be resolved.

[2021-01-14 16:26] #7 closed

[2021-01-21 16:58] EchedeyLR commented on #37
I would disagree including VirusTotal given that is a non-free network service (itself) and depends a lot of non-free engines.

Integrating it with ClamAV (one the few free engines used by VirusTotal) locally would be better.

[2021-01-22 08:50] ankris812 commented on #37
true

[2021-01-22 08:51] #37 closed

[2021-01-29 10:55] mr4ffe commented on #4
[BubbleUPnP](https://play.google.com/store/apps/details?id=com.bubblesoft.android.bubbleupnp) may be a false positive (detected as malware).

[2021-01-29 11:05] licaon-kter commented on #4
https://github.com/MuntashirAkon/unapkm-android False positive

[2021-01-29 11:08] damajor commented on #4
Why reporting false positive when the latest update does not include the one in this thread ?

[2021-01-29 11:26] licaon-kter commented on #4
@damajor umm?

[2021-01-29 11:36] damajor commented on #4
I just point out that I reported 3 legits apps and they still appear as malware in the latest LibreAV release.

[2021-01-29 11:44] licaon-kter commented on #4
@damajor yes, they aren't adding "exceptions", they need "samples" to fine tune detection algoritms.

[2021-01-29 11:46] damajor commented on #4
Aren't the apps publicly available for that purpose ? My guess is yes.

[2021-01-31 01:34] N3koSempai opened #43 "false positive"
all this apk directly installed from Google play store

Zarchiver
ru.zdevs.zarchiver (result: dangerous)
mi fit
com.xiaomi.hm.health (result: malware)
pydroid repository plugin
ru.iiec.pydroid3.quickinstallrepo (result: malware)
minishare
com.omniashare.minishare (result: malware)

[2021-02-07 17:09] Oclair opened #44 "suggestion; notification upon alert otherwise weekly stats."
Too many  noisy notifications,  please consider an alternative to all or nothing!

Have a great day 😀

[2021-02-08 14:44] projectmatris commented on #44
Good idea. We'll consider it.

[2021-02-08 14:54] projectmatris commented on #43
Thanks for reporting false positives. Since we already have an issue open for false positives(#4), we are closing this one. Don't worry, we'll consider them while training the model. Please report false positives in #4 only.

[2021-02-08 14:54] #43 closed

[2021-02-08 17:48] realpixelcode commented on #4
LibreAV deteced the following apps from F-Droid as malware today:

- NoUSSD
- Shelter
- Short URL Evaluator
- Sichere Fotoanzeige
- SMS Ping
- DJI Fly

![IMG_20210208_184505.jpg](https://user-images.githubusercontent.com/52963327/107260161-c1abba00-6a35-11eb-9179-b970b3f50d71.jpg)

[2021-02-24 06:58] AzureB1te opened #45 "Bug Report : Scan APK Seems to be broke on android 11."
I wanted to scan a few apks. But the feature seems to be broken, probabily because of scoped storeage.
It only has access to a folder, I can't even find.
Solution would be, to imement the "manage all files" permission

[2021-03-05 00:00] karlzt commented on #4
Here's another:

https://gitlab.com/gardenappl/try-lbry

[2021-03-06 07:59] rhshksh opened #46 "Notifications are shown while updating system apps even when Scan System App is disabled"
Notifications are shown while updating system apps even when Scan System App is disabled. Also the detailed report page is not showing whether the app is system app or not.

[2021-03-13 10:43] #39 closed

[2021-04-08 17:41] #46 closed

[2021-04-23 14:28] itekashi opened #47 "False positives. This morning I hit scan. And all of my system files were malware. Good thing I'm tech savy. Or I'd go and delete everything!!!"

[2021-04-24 13:33] projectmatris commented on #47
The 'Scan System Apps' feature is very buggy. That is why we don't recommend enabling it. It is included for experimental purposes only. Also, you can't uninstall a system app unless you use a rooted device. So we see no harm in that. If you use a rooted device, you are supposed to know what you are doing.

[2021-04-24 19:50] itekashi commented on #47
Well, I meant no disrespect of any kind.   I saw something so I said something.  If removing the post will please the project it is done.
you will hear nothing more.   Being above reproach looks good on NO ONE!   FYI

[2021-04-25 08:17] projectmatris commented on #47
Sorry that you found our reply discouraging. We didn't mean to disappoint you. We just wanted to point out that this feature is not our prime focus, at least for now. It's always a pleasure to hear back from you. Have a nice day :)

[2021-04-28 08:35] fusionneur commented on #4
Termux also identified as risky

[2021-04-28 10:38] realpixelcode commented on #4
Here are some more false positives:

- [FindMyDevice](https://f-droid.org/en/packages/de.nulide.findmydevice) | "malware" | score: .782806
- [ESET USSD Control](https://play.google.com/store/apps/details?id=com.eset.securedialer) (Eset is an anti-virus app itself) | "malware" | score: .975356
- [NoUSSD](https://f-droid.org/en/packages/net.thauvin.erik.android.noussd) | "malware" | score: .975356

[2021-05-01 18:28] lekald commented on #4
[Wrong PIN Shutdown](https://f-droid.org/en/packages/org.nuntius35.wrongpinshutdown/)
org.nuntius35.wrongpinshutdown
Prediction Score: .999543 (MALWARE)
Permission List: android.permission.ROOT, android.permission.ACCESS_SUPERUSER, android.permission.READ_PHONE_STATE

[FakeGapps](https://f-droid.org/en/packages/com.thermatk.android.xf.fakegapps/)
com.thermatk.android.xf.fakegapps
Prediction Score:

[2021-05-04 04:48] PinkDev1 opened #48 "Rename repo to a more unique name"
As title says. Currently, this repo is pretty hard to find, because `antimalwareapp` isn't exactly a unique name. If the repo were to be renamed to `LibreAV-for-Android` (or something similar), it would definetly get more attention.

Cool idea btw

[2021-05-09 18:40] projectmatris commented on #48
Thanks for the suggestion. There are certain things to be taken care of before renaming the repo. We may do that eventually.

[2021-05-10 04:06] Bdroid191 commented on #47
I also used  the scan system apps feature and a ton of them were identified as malware.  I suspect there is some truth to that becausen I clearly do have malware embedded in my OS.  I can literally see the attacker's Linux devices signed into my Google account.  Not to mention the rapid battery drain and slow charge...

[2021-05-24 21:20] User66958 commented on #4
![Screenshot_20210524-141757_LibreAV](https://user-images.githubusercontent.com/84735998/119408658-ebae8280-bc9a-11eb-92e0-a22a4fa8f72e.jpg)
![Screenshot_20210524-141748_LibreAV](https://user-images.githubusercontent.com/84735998/119408668-ef420980-bc9a-11eb-9df4-722a4359f6dd.jpg)

That's not even all of it.  I think I'll have to root and Uninstaller boatyard without bricking...

[2021-05-24 21:21] User66958 commented on #4
![Screenshot_20210524-142116_LibreAV](https://user-images.githubusercontent.com/84735998/119408904-53fd6400-bc9b-11eb-869c-1915550eb9a3.jpg)

[2021-05-24 21:25] licaon-kter commented on #4
@User66958 as said in the app, better not scan system apps. Please don't start uninstalling syst.m apps based on this apps reports.

[2021-05-24 22:49] User66958 commented on #4
I'm aware of the consequences for doing so.  I just want to remove bloatware in general.  There's over 400 apps installed on my phone and most are from Samsung.  Surely there's some that aren't needed for the device to function properly.

[2021-06-01 12:04] Oclair opened #49 "Apps that unlock pro app functionality flagged"
Hi there,
The two apps I have which include an additional paid unlocked downloaded from the Google play store are flagged risky.

Poweramp full version unlocked
SD Maid Pro

I believe these are false positives

Have a great day
OC

[2021-08-29 20:01] wumbowarrior commented on #4
Would like to report a couple of false positives

![Screenshot_20210829-150043](https://user-images.githubusercontent.com/14812820/131263784-fa567802-c6cc-45ac-a3d8-195871065a11.png)

[2021-09-02 02:40] DawnShadow commented on #4
Automate apps by Llamalab are false-positives.

[2021-09-02 02:41] DawnShadow commented on #4
NoUSSD is false-positive. It's from F-droid

[2021-09-12 20:55] rustforfuture opened #50 "Please let us to Choose what data app use to guess malicious apps"
Hello

This project has great potential.

I always wnated something like this that scan intents and rate apps based on how much they can be dangerous.

May you please let us yo choose what data app uses for its scanning?

I mean add an option so we can tick if we want the app scan

1. based on intents
2. Based on permissions
3. Based on both (default)(current behavior)

I think because there are m

[2021-09-12 21:17] rustforfuture commented on #50
Also i should say the current scanning also is very good, i can sense why some apps flaged as malicious although they're not but it is ok.

The apps that libreAV flagged in my device was really powerful apps.

The only false positive was solid explorer.

I don't know what intent or permission it have that made the AV triggered.

Thank you very much for this great app :)

[2021-09-13 12:20] projectmatris commented on #50
Hi, thanks for your comment. We do not think the user's choice of permissions/intents will add any value. Permissions and intents together determine the prediction score of an application. If the user turns one of them off, it will lead to incorrect prediction. If you would like to experiment with it, we recommend that you check the source code of the machine learning model - https://github.com/pr

[2021-09-29 17:36] #50 closed

[2021-09-29 17:50] projectmatris opened #51 "Display hash in App Details screen"
Display SHA256 hash of the scanned app above Permissions List in App Details screen

[2021-09-29 18:08] projectmatris commented on #49
Hi, thanks for reporting false positives.

[2021-09-29 18:08] #49 closed

[2021-09-29 18:30] rhshksh opened #52 "Tapping Real Time Scan notification should open the app"
Tapping "Real Time Scan is on" notification should open the application

[2021-09-30 09:34] mayorJAY commented on #51
@projectmatris I will love to work on this, if that's okay

[2021-09-30 17:51] projectmatris commented on #51
@mayorJAY Sure

[2021-09-30 23:42] mayorJAY commented on #52
@rhshksh @projectmatris I will also love to work on this, if that's okay

[2021-09-30 23:43] mayorJAY commented on #51
On it

[2021-10-04 17:51] #52 closed

[2021-11-02 10:43] ahmed-tasaly commented on #4
Cryptocurrency exchanges
**Kucoin** , **Huobi pro** are listed as **malware**
Is this right? I don't know

[2021-11-02 11:27] licaon-kter commented on #4
@ahmed-tasaly if they are open source you can check?!

[2021-11-02 17:20] ahmed-tasaly commented on #4
Cryptocurrency exchanges
**Kucoin, Huobi pro, Gate.io, Okex**
Are they malware or false positives ?
while other exchanges - **Binance, Bybit, Coinex** - show as safe which is strange

[2021-11-02 17:22] ahmed-tasaly commented on #4
They aren't 😥

[2021-11-03 22:33] SynapseScribe commented on #4
tbh i'd stay away from chinese crypto exchanges

[2021-11-03 23:01] ahmed-tasaly commented on #4
@fusionneur So what do you recommend instead ?

[2021-11-03 23:54] SynapseScribe commented on #4
go for kraken, bittrex . anyway this is a bit offtopic..

[2021-12-05 15:34] #51 closed

[2022-01-22 04:53] DarkenLX commented on #4
![Screenshot_20220121-235110963](https://user-images.githubusercontent.com/8977130/150625144-c661fd52-8ce4-4631-ac06-e228e9af3a6a.jpg)
![Screenshot_20220121-235052449](https://user-images.githubusercontent.com/8977130/150625145-8116870e-75f7-4c02-b411-30b70bc1c4d4.jpg)
Some more false-positives these were from play store aside from happy mod but I definitely know these are not malware

[2022-01-27 08:10] VaibhavSys opened #64 "False Positives"
LibreAV Version: 1.4.0
Android Version: 7.0
Scan System Apps: False

Carrier Services: https://play.google.com/store/apps/details?id=com.google.android.ims (Pre Installed)
Dude Theft Wars: https://play.google.com/store/apps/details?id=com.PoxelStudios.DudeTheftAuto (Aura Store)
HappyMod: https://happymod.com/
HiSuite: Installed by PC HiSuite program for windows 10
Lucky Patcher: https://www.luckyp

[2022-02-01 09:59] Exodus214 opened #66 "Bug"

[2022-02-08 12:17] justeepin opened #67 "False Positive"
LibreAV Version: 1.4.0
Android Version: 12.0
Scan System Apps: False

DJI Ronin app

https://www.dji.com/mobile/downloads/djiapp/dji-ronin

![Screenshot_20220208-071157_LibreAV.jpg](https://user-images.githubusercontent.com/69406371/152985418-3cd1fa75-5aab-413d-8a6c-b77f7c1297b8.jpg)

[2022-02-19 15:58] projectmatris opened #68 "Poll: Logo Update"
One of our users suggested an update to the logo of LibreAV and provided us with some designs. We thought it would be better to ask the community about this. Please let us know your opinion by selecting one of the options below.

![LibreAV_logo_update](https://user-images.githubusercontent.com/66478577/154807706-a84adbbb-299a-4be5-b4d5-d1e4ce44a87c.png)

**Which logo you like the most for LibreAV?

[2022-03-07 07:02] JensKorte commented on #4
The Ghost Commander Samba Plugin from F-Droid gets marked as malware. The sftp plugin gets marked as dangerous/risky (translated from German: riskant).
Link to the F-Droid package search: https://search.f-droid.org/?q=Ghost+commander&lang=en

![IMG_20220307_075655](https://user-images.githubusercontent.com/2682123/156983530-6da9b209-d5e1-43b2-b489-186365f6b59a.jpg)

[2022-03-19 05:56] Krieghund909 opened #69 "1"

[2022-03-19 09:13] ghost commented on #4
LibreAV Version: 1.4.0
Android Version: 11.0
Scan System Apps: False

##########

APKs downloaded from Tachiyomi apps or https://tachiyomi.org/extensions/ detected as Malware.

![image3](https://user-images.githubusercontent.com/101240530/159114905-3d7899a4-96b3-4970-baf4-16785e96ff1d.png)

[2022-03-20 18:29] peternrdstrm opened #70 "A set of suggestions/ideas for future features"
Hey, I'm Peter, a CS student and open source enthusiast. LibreAV is one of my favorite android FOSS project out there, and over the last year, I have been using it, and taking notes, to suggest improvements. Note, thag I am no security expert and my undertanding of machine learning and even Java is limited.
First of all, let me share my vision :
- A lightweight, privacy respecting anti-malware sol

[2022-04-10 18:48] huuhaa commented on #4
Malware?

https://play.google.com/store/apps/details?id=com.epson.mobilephone.android.epsonprintserviceplugin

[2022-04-13 18:44] Ferixy opened #71 "what is the .lock file format"
Hi , I'm trying to build a modified version of libreav for fun and I have encountered this ".lock" file format
what is this file format? please answer. thank you

[2022-04-14 06:08] sanandmv7 commented on #71
Hi, `.lock` files are usually used to mark a file as uneditable. Can you tell me which specific file are you referring to? I couldn't find any such files in this repo.

[2022-04-18 12:49] sanandmv7 opened #72 "Show notification while USB debugging is enabled"
[USB debugging](https://docs.microsoft.com/en-us/mem/intune/user-help/you-need-to-turn-off-usb-debugging-android) is used to connect and transfer data from an Android device to a computer. While this feature is useful, a device isn't as secure when connected to a computer. So showing a notification that USB debugging is on will be useful to remind users to turn it off after the use.

[2022-04-19 15:38] #69 closed, assigned to nobody

[2022-04-19 15:40] projectmatris commented on #67
Thank you for reporting this. Please use #4 to report false positives in the future. We will consider them next time we train the model.

[2022-04-19 15:40] #67 closed, assigned to nobody

[2022-04-19 15:40] projectmatris commented on #64
Thank you for reporting this. Please use #4 to report false positives in the future. We will consider them next time we train the model.

[2022-04-19 15:40] #64 closed, assigned to nobody

[2022-04-19 15:40] #66 closed, assigned to nobody

[2022-04-24 14:02] ghost opened #73 "Follow System Theme"
Can you add an option for the app to follow the system theme?

[2022-04-26 23:45] mario0318 commented on #64
I find it interesting that ZArchiver comes up as Risky for you but reported as Safe on my device.

[2022-04-27 15:03] SeniorTrader opened #74 "Shelter is false positive"

[2022-05-07 15:22] outis03 commented on #4
It says, package manager is malware...

[2022-05-19 21:22] erazemk opened #75 "Crash on scanning large APKs"
When trying to scan a large APK (through the "Scan APK" feature), the app crashes with the following message:

[code]

The APK I tried to scan is 1,46 GB large.
I'm guessing the app extracts the apk in memory and then scans it also in memory? Would it be possible to extract the application to a temporary directory and scan through that?

My device is a Poco F3 (8 GB of RAM), Android 12.

[2022-05-25 14:33] theshininginception opened #76 "Publish on Play Store"
Hello,

Wouldn't it be great if LibreAV could be published on the Play Store to expand reach to users and provide an easier way to keep the app updated?

Thank you

[2022-05-29 16:06] projectmatris commented on #76
It was published in the Play Store earlier. But they suspended it stating that LibreAV was not able to detect the [EICAR ANTI MALWARE TESTFILE](https://www.eicar.org/download-anti-malware-testfile/). The problem is that the EICAR test file is not real malware. It is for testing signature-based detection only. Since we do not use signature detection in our app, we can't detect it as malware. We tri

[2022-05-29 16:06] #76 closed, assigned to nobody

[2022-06-27 04:37] PixsaOJ opened #77 "Background service without notification. [Feature request]"
Allow to run background service without annoying notification.

I enabled unrestricted battery usage from settings for the app and blocked the notification. I don't know if it works now.

It would be nice if there was supported way from the inside app to do it.

[2022-07-01 19:07] WillyGEEE opened #78 "Android said I have a bug. Clear my cache."

[2022-07-01 19:08] #78 closed, assigned to nobody

[2022-07-11 13:35] steelbona opened #79 "monocle web"
Sifer miss match interrompe  connection monocle navvigateur

[2022-07-11 13:35] #79 closed, assigned to nobody

[2022-07-11 21:07] MKindy opened #80 "App Icon: Label "LibreAV" is not centered relative to the shield behind it."
Not exactly a "bug" as such, but the title in your app icon is shifted a handful of pixels too far to the left.

I can adjust it myself if you like, but I need to know if you want it in vector format or something more basic like GIF or PNG, though those won't necessarily scale well if you ever needed to blow it up to a much larger size.

Is nitpicky, I know, but it drives me a little crazy; I can'

[2022-07-15 07:40] oytunistrator opened #81 "Why do some safe apps show as viruses, for example: com.samsung.android.app.networkstoragemanager?"
Some samsung apps are detected as virus.  Why can the network manager application be a virus?
Samsung Files application does not work without networkmanager, it tells us to update when we delete it.
It is seen as a virus in some games like GTA:SA.

App: com.samsung.android.app.networkstoragemanager

![Screenshot_20220715-103516_LibreAV.jpg](https://user-images.githubusercontent.com/3594944/1791761

[2022-07-20 13:49] ArkhamCookie opened #82 "Different Notifications Types are in the same Notification Category"
The notification that tells you real time scan is on and the notification that tells you there are no issues are considered the same by the phone.  It can be annoying to choose because either both are minimized, both are normal causing you to have a notification on the top bar, or no notifications at all.

**Possible Solution:** By adding different categories, it would allow the user to change the

[2022-07-20 13:52] ArkhamCookie commented on #82
I can't put labels on it (I think because I'm on mobile), but I feel this is more of a bug rather than a feature request.

[2022-07-23 09:07] volker001 opened #83 "False Positives ..."
Ghost Commander - SMB Plugin.
QuickSupport (TeamViewer).
TeamViewer Universal Add-On.

[2022-08-08 00:36] AMDBartek commented on #68
I might be a bit late, but I stumbled upon this project and think it is a very nice start! I personally like design 2 the most :)

[2022-09-25 05:21] projectmatris commented on #83
Thank you for reporting false positives. Please use #4 to report false positives in the future. We will consider them next time we train the model.

[2022-09-25 05:21] #83 closed, assigned to nobody

[2022-09-25 05:22] projectmatris commented on #74
Thank you for reporting the false positive. Please use #4 to report false positives in the future. We will consider them next time we train the model.

[2022-09-25 05:22] #74 closed, assigned to nobody

[2022-09-25 05:24] #71 closed, assigned to nobody

[2022-09-25 05:27] projectmatris commented on #81
Thank you for reporting this. This might be a false positive. We will take this into account next time we train the model. Please use #4 to report false positives in the the future.

[2022-09-25 05:27] #81 closed, assigned to nobody

[2022-09-25 06:23] projectmatris commented on #80
Thanks for the suggestion. We understand that the logo is a bit misaligned. You can send both vector and PNG formats and we will try to update it in the next release. We also have a proposed logo update here: #68  .

[2022-09-25 06:47] projectmatris commented on #77
There are restrictions for background services starting from Android API level 26 (Oreo). That is why we have to use a foreground service with always-on notification. We understand that this can be annoying sometimes. But this is something that is imposed by the Android system itself. You can read more about it [here](https://developer.android.com/about/versions/oreo/background)

[2022-09-25 06:47] #77 closed, assigned to nobody

[2022-09-25 08:03] PixsaOJ commented on #77
@projectmatris If every app had that, I would have 4 notifications constantly. That can't be right.

There are many others that do this without notification. They simply ask background permission and permission for unrestricted battery usage.

[2022-09-26 11:30] SynapseScribe commented on #4
amaze file manager is also flagged as malware

[2022-10-18 05:23] nikobockerman opened #84 "Crash whan starting phone"
The background service crashes every time I boot my phone. It has happened many times, but this time I copied the stacktrace and reported it here.

Information:
LibreAV app version: 1.4.0 (installed from F-Droid)
Android version: 13
OS: GrapheneOS 2022101600
Phone: Pixel 6a

Stacktrace:
[code]

[2022-10-21 14:46] Theluga commented on #4
A lot of false positives like Binance, aurora services, dirac, package installer, seedvault, F-droid privileged extension, html viewer etc.
![Uploading Screenshot_20221021-114248252.jpg…]()

![Screenshot_20221021-114329570](https://user-images.githubusercontent.com/96307393/197223671-d12864c6-1fe6-4eea-898f-e368eac91e36.jpg)

[2022-10-21 17:30] licaon-kter commented on #4
@Theluga Binance is a closed source proprietary app? How would you even know, heh

[2022-10-21 22:11] damajor commented on #4
Dead project! I see no signature updates or commits for years and people still report false positive... Don't waste your time.